@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

  body {
    background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.75)), url("../multimedia/fondo_html.jpg");
  }

.item_agregado {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  margin-bottom: 5px;
}

#total {
  font-weight: bold;
}

.card_agregada {
  background-color:darkgray ;

}

.encabezado {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;

}

